body {
    font-family: 'Source Code Pro', monospace;
    background-color: #212121;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    color: #eeeeee;
    background-color: rgba(0, 0, 0, 0.8); /* Adjusted for a semi-transparent black background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#timer, #Wordsperminute {
    color: #ffd369;
    }
#timer {
    left: 20px;
}
#Wordsperminute {
    right: 20px;
}
#time{
    padding-right:50% ;
    color:darkgrey;
}
#wpm{
    
    color:darkgrey;
}
h1 {
    text-align: center;
    color: #eeeeee;
}

.quote-container {
    text-align: center;
    margin-bottom: 20px;
}

#quote {
    font-size: 24px;
    font-weight: bold;
    color: #eeeeee;
    margin-bottom: 10px;
}

#prompt-word {
    font-size: 18px;
    color: #ffd369;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffd369;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #000;
    color: #eeeeee;
}

#try-again-message {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #a10000; /* Red for error or attention messages */
    font-weight: bold;
}

#congratulations-message{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: darkgreen; /* Red for error or attention messages */
    font-weight: bold;
}


.hidden {
    display: none;
}

#results {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #666; /* Gray for results text */
}

#score-box {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #666; /* Gray for score text */
}

#buttons {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #212121;
    background-color: #ffd369;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0b751;
}

.hidden {
    display: none;
}
