body {
    font-family: Arial, sans-serif;
    background-color: rgb(199, 239, 255);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e7f5ff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.quote-container {
    text-align: center;
    margin-bottom: 20px;
}

#quote {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

#prompt-word {
    font-size: 18px;
    color: #666;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#try-again-message, #congratulations-message {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #ff3333;
    font-weight: bold;
}

.hidden {
    display: none;
}

#results {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #666;
}

#score-box {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #666;
}

#buttons {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}
