<html>
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
   
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <style>
    body {
      background-color: #050505;
    }
  </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand fw-bolder">Typing Practice</a>
        <form class="form-inline">
            <!--home icons-->
            <a class="btn btn-outline-warning" href="startuppage.html">
                <span class="material-symbols-outlined" style="color: rgb(253, 253, 253);">
                  Home
                </span>
            </a>
            <!--Notification icons-->
            <a class="btn btn-outline-warning" href="#">
                <span class="material-symbols-outlined" style="color: white;">
                  Notifications
                </span>
            </a>
            <!--User Icon-->
            <a class="btn btn-outline-warning" href="signinpage.html">
                <span class="material-symbols-outlined" style="color: white;">
                  person
                </span>
            </a>
        </form>
    </nav>
    </header>
    <!-- Section: Design Block -->
<section class="text-center">
 <!-- Background image -->
 <div class="p-5 bg-image" style="
 background-color: grey;
 background-image: url('../static/msgkeyboard.gif');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 position: relative;
 width: 100%;
 height: 300px;
"></div>

  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 0%, 0);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center" style="background-color: rgba(0, 0, 0, 0) ; color: goldenrod;">
        <div class="col-lg-8">
          <h1 style="font-family: lucida calligraphy;">Typing Practice</h1>
            <hr>
          <h2 class="fw-bold mb-5">Sign up now</h2>
          <form>

            <div class="form-outline mb-4">
                <input type="user" id="username" name="username" class="form-control"  placeholder="@Username"/>
                <label class="form-label" for="form3Example3">Username</label>
              </div>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="fname" name="fname" class="form-control" placeholder="Enter the first name"/>
                  <label class="form-label" for="form3Example1">First name</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="lname" name="lname" class="form-control" placeholder="Enter the last name"/>
                  <label class="form-label" for="form3Example2">Last name</label>
                </div>
              </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="email" name="email" class="form-control" placeholder="abc@anything.com"/>
              <label class="form-label" for="form3Example3">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="pass1" name="pass1" class="form-control" placeholder="Enter 8 character" />
              <label class="form-label" for="form3Example4" >Password</label>
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="pass2" name="pass2" class="form-control" placeholder="Retype Password" />
                <label class="form-label" for="form3Example4" > Confirm Password</label>
              </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
              <label class="form-check-label" for="form2Example33">
                Subscribe to our newsletter
              </label>
            </div>

            <!-- Submit button -->
            <a href="sigininpage.html">
            <button type="submit" class="btn btn-warning btn-block mb-4" href="sigininpage.html">
              Sign up
            </button>
        </a>

            
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
  </body>
</html>